.main-header {
  background-color: rgba($blue, .95);
  position: fixed;
  justify-content: center;
  padding: 0;

  .navbar-toggler{
    color:transparent;
    padding: 0;
    position: absolute;
    right: 0;
  }
.lupa{
  margin-top: -70px;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  @include from(m){
    margin-top: 120px;
  }
  @include from(l){
    margin: 0;
    padding: 0;
    position: absolute;
  }
  &-icon{
    @include imageBg('../img/buscador.moco-de-gorila.svg', rem(40px), rem(40px));
  }
}
.close{
  margin-right: 70vw;
  margin-top: 10px;
  @include from(m){
    margin-left: 15px;
  }  
  @include imageBg('../img/icono_cerrar-moco-de-gorila.svg', rem(30px), rem(30px));
  @include from(l){
    display: none;
  }
}
  .navbar-collapse{
    background-color: $purple;
    margin-left: -22%;
    @include from(m){
      margin-left: 50%;
    }
    @include from(l){
      background-color: transparent;
    }
  }
  &__content {
    width: 100%;
    z-index: 2000;
    ul{
      padding-top:rem(100px);
      height: 75vh;     
      @include from(m){
        margin-top: rem(-60px);
        height: 45vh;
      }
      @include from(l){
        gap:35px;
        height: max-content;
        justify-content: center;
        margin: 0;
        padding: 0;
      }
      @include from(xl){
        gap:rem(100px);
      }
      li a{
        color:$white;
        font-size: 20px;
      }
    }
    .region{
      background-color: transparent;
    }
    .region-nav-branding{
      margin: 0;
    }
    .region-nav-main{
      width: 100%;
    }
    .navbar-collapse{
      width: 100%;
      @include from(m){
        width: 25%;
      }
      @include from(l){
        margin-left: 0%;
      }

    }
    @include from(l){
      padding: 0 rem(10px);
    }
    @include from(xl){
      padding: 0 rem(70px);
    }
    .navbar-toggler-icon{
      color:$purple;
      font-size: rem(30px);
      margin-left: rem(120px);
      margin-top: rem(15px);
    }
    .dropbutton-wrapper{
      display: none;
    }
  }
  &__menu {
    display: none;
  }

  div {
    margin: 0;
  }

  .site-logo {
    @include imageBg('../img/logo.svg', rem(57px), rem(124px));

    @include from(l){
      @include imageBg('../img/logo.svg', rem(75px), rem(152px));
    }
  }

  .navbar {
    padding: 0;
  }
}