.main-slider-home-card {
  $self: &;
  padding: space(1) 0;
  &__image {
    display: flex;
    justify-content: center;
    margin: 0;

    @include from(l) {
      justify-content: flex-start;
    }

    img {
      height: 100%;
      max-height: rem(600px);
      max-width: 100%;
      width: auto;
      @include from(l) {
      }
    }
  }

  &__caption {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: space(1);
    max-width: rem(700px);
    min-height: rem(300px);
    padding: space(1) space(2) space(2) space(1);

    @include from(l){
    padding: 0 space(2) space(2) space(1);
    }
  }

  &__description {
    p{
      color: $white;
    }
  }

  &:nth-child(3){
    background-color: $yellow;
    #{$self}__description {
      p{
        color: $purple;
      }
    }
  }

  @include color-variant;
}
