.informacion-texto-imagen{
  &--moco-quiz{
    &-container-image{
      margin: 0;
      @include fluid-aspect(3 3, "img");
      object-fit: cover;
      @include from(s) {
        @include fluid-aspect(3 2, "img");
      }
      @include from(m) {
        @include fluid-aspect(6 3, "img");
        order:2;
      }
      @include from(l) {
        @include fluid-aspect(7 2, "img");
      }
      img{
        @include from(l){
          object-position: center bottom;
        }
      }
    }
    &-text{
      background-color: $purple-lt;
      @include from(m){
        order:1;
        padding: rem(35px) 0;
      }
      &__title{
        padding: 10% 18% 0 13%;
        @include from(s) {
          padding: 5% 10% 0 10%;
        }
        @include from(m) {
          padding: 5% 1% 0% 10%;
        }
        @include from(l) {
          padding: 10% 20% 0 17%;
        }
      }
      &-items{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 10% 0 12%;

        &__content-description{
          color: $white;
          padding: 5% 0 0 0;
          @include from(s) {
            padding: 0 0 5% 0;
          }
          @include from(l) {
            padding: 10% 5% 0 10%;
          }
        }
        &__link-bloque{
          padding: 12% 0 20% 0;
          @include from(s) {
            padding: 3% 0 10% 0;
          }
          @include from(m) {
            padding: 3% 0 10% 0;
          }  
          @include from(l) {
            padding: 10% 5% 10% 10%;
          }
        }

        @include from(s) {
          padding: 5% 10% 0 10%;
        }
        @include from(m) {
          padding: 5% 20% 0% 10%;
        }
        @include from(l) {
          padding: 5% 20% 0% 10%;
        }
      }
    }
  }
}