.main-slider-home {
  border: 3px solid aqua; //prueba
  position: relative;
  .container {
    @extend %t-res; //prueba
    @include from(l) {
      position: relative;
    }
    @include from(xl){
      position: static;
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}
