.main-slider {
  position: relative;

  .slick-slide{
    & > div {
      display: block !important;
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slider-controls__arrows {
    max-width: 100%;
    padding: 0 space(1.5);
  }
}
