.main-slider-home {
  position: relative;
  .container {
    @include from(l) {
      position: relative;
    }
    @include from(xl){
      position: static;
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slider-controls__arrows {
    top: 45%;
  }
}
