.container-product-oustanding {
  position: relative;
  &__title-bloque {
    text-align: center;
    @include center("horizontal");
    z-index: 80;
    top: 8%;
  }
  &__content {
    height: 100%;
    padding: 10rem 0 3rem 0;
    @include from(l) {
      padding: space(5) 0 3rem 0;
    }

    h2 {
      box-decoration-break: clone;
      color: $white;
      display: inline;
      font-family: $font-secondary;
      text-transform: uppercase;
      margin-bottom: rem(30px);
      line-height: 1.3;
    }

    @include color-variant;

    &--yellow-violet {
      .container-product-oustanding__title {
        background-color: $orange;
        box-shadow: 0.2em 0 0 $orange, -0.2em 0 0 $orange;
      }
    }

  }
  &__image {
    display: flex;
    justify-content: center;
    padding-bottom: 0%;
    position: relative;
    overflow: hidden;

    @include from(l){
      padding-bottom: 50%;
    }

    img{
      position: absolute;
      height: 100%;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title-content {
    display: flex;
    justify-content: center;
  }
  &__title {
    padding: 0 0.5rem 0 0.5rem;
    @include from(l) {
      padding: 0 2rem 0 2rem;
    }
  }
  .js-slider-destacados-puntos {
    position: absolute;
    bottom: initial;
    width: 100%;
    left: 0;
    top: 90%;
    @include from(l) {
      // display: none;
    }
  }
  .slick-dots li.slick-active button:before {
    color: $white !important;
    opacity: 100% !important;
    font-size: 8px;
  }
  .slick-dots li button:before {
    color: $white !important;
    opacity: 50% !important;
  }
  .slick-dots li {
    margin: 0 !important;
  }

  @include color-variant;
}
