{%
set classes = [

'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished',
'image-description-paragraph',
'p-0',
'full-text '
]
%}

{% block paragraph %}
  {% set color = content.field_color_identity['#items'].value %}
  {% set text_full = content.field_rich_text[0] %}
<section {{ attributes.addClass(classes, 'full-text--' ~ color) }}>
  <div class="container">
    <div class="row g-0 full-text-container">
    {{ text_full}}
    </div>
  </div>
</section>
{% endblock paragraph %}
